

:root {
    --main-back-ground-color: #ffffff;
    --header-text-main-color: #ffffff;
    --header-text-secondaty-color: #303030;
    --content-text-color: #9DA4BD;
    --content-test-color-secondary: #555555;
    --color-accent: #FF6C00;
}

/* Utilities */
.list {
list-style: none; 
margin-left: 0;
margin-right: 0;
margin-top: 0;
margin-bottom: 0;
padding: 0;
}

.link {
text-decoration: none;
}

.visually-hidden {
position: absolute;
white-space: nowrap;
width: 1px;
height: 1px;
overflow: hidden;
border: 0;
padding: 0;
clip: rect(0 0 0 0);
clip-path: inset(50%);
margin: -1px;
}

body {
font-family: "Open Sans", sans-serif;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

}

h1,
h2,
h3,
ul,
p {
    margin: 0;
    padding: 0;
}

    img {
        display: block;
    }

/* HEADER  */
.page-nav {
background-color: #000000;
}

.nav-container {
    display: flex;
    align-items: center;
}

.top-contacts {
    display: flex;
    margin-left: auto;
    align-items: center;
}

.top-contacts .item:not(:last-child) {
    margin-right: 45px;
}

.site-nav {
    display: flex;
    align-items: center;
}

.site-nav .item:not(:last-child) {
    margin-right: 30px;
}

.navigation {
    display: flex;
    padding-top: 33px;
    padding-bottom: 33px;
}

.logo {
    margin-right: 60.75px;
}

.site-nav .link {
font-weight: 600;
font-size: 12px;
line-height: 1.33;
letter-spacing: 0.1em;
color: var(--header-text-main-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--color-accent);
}

.site-nav .current {
    color: var(--color-accent);
}

.tel-number {
font-weight: 600;
font-size: 12px;
line-height: 1.33;
letter-spacing: 0.1em;
text-transform: uppercase;
color: var(--header-text-main-color);
}

.tel-number:hover,
.tel-number:focus {
    color: var(--color-accent);
}

.button {
display: block;
padding: 12px 20px;

font-family: inherit;
font-weight: 600;
font-size: 12px;
line-height: 1.33;
letter-spacing: 0.09em;
text-transform: uppercase;
color: var(--header-text-main-color);

background-color: inherit;
border: 1px solid var(--color-accent);
border-radius: 25px;
}

.button:hover {
    background-color: var(--color-accent);
}


/* HERO */
.hero {
max-width: 1200px;
margin-left: auto;
margin-right: auto;

    background-color: black;
}

.hero-block {
padding: 275px 462px 206px 100px;
}

.external-sourses .link {
font-weight: 600;
font-size: 11px;
line-height: 1.36;
letter-spacing: 0.2em;
color: var(--header-text-secondaty-color);
} 

.external-sourses .link:hover,
.external-sourses .link:focus {
    color: var(--color-accent);
}

/* .external-sourses{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
} */

.hero-pretitle {
margin-bottom: 20px;

font-weight: 600;
font-size: 11px;
line-height: 1.33;
letter-spacing: 0.1em;
text-transform: uppercase;
color: rgba(157, 164, 189, 0.6);
}

.hero-title {
margin-bottom: 20px;

font-family: 'Raleway', sans-serif;
font-weight: 700;
font-size: 72px;
line-height: 1.18;
letter-spacing: 0.05em;
color: var(--header-text-main-color);
}

.hero-content {
width: 510px;

font-size: 18px;
line-height: 1.67;
letter-spacing: 0.02em;
color: var(--content-text-color);
}

/* ABOUT  */
.about {
    padding-top: 130px 0px;
    background-color: #fff;
}

.about-img {
    display: flex;
}

.about-img .item {
    margin-right: 30px;
}
.about-img .item:last-child {
    margin-right: 64px;
}

.about-container {
    display: flex;
    padding: 130px 0px;

}


.about-pretitle {
margin-bottom: 20px;

font-weight: 600;
font-size: 11px;
line-height: 1.36;
letter-spacing: 0.1em;
text-transform: uppercase;
color: var(--header-text-secondaty-color);
}

.about-title {
margin-bottom: 20px;

font-family: 'Raleway', sans-serif;
font-weight: 700;
font-size: 42px;
line-height: 1.17;
letter-spacing: 0.05em;
color: var(--header-text-secondaty-color);
}

.about-content {
margin-bottom: 20px;

font-size: 18px;
line-height: 1.67;
letter-spacing: 0.02em;
color: var(--content-test-color-secondary);
}

.about-content-next {
margin-bottom: 40px;

font-size: 14px;
line-height: 1.86;
letter-spacing: 0.02em;
color: var(--content-test-color-secondary);
}

.button-secondary {
color: var(--header-text-secondaty-color);
}

/* Price-List  */
.prices {
    padding: 130px 0px;
    background-color: #000000;
}


.prices-pretitle {
margin-bottom: 20px;

font-weight: 600;
font-size: 11px;
line-height: 1.33;
letter-spacing: 0.1em;
text-transform: uppercase;
color: rgba(157, 164, 189, 0.6);
}

.prices-title {
margin-bottom: 44px;

font-family: 'Raleway', sans-serif;
font-weight: 700;
font-size: 42px;
line-height: 1.17;
letter-spacing: 0.05em;
color: var(--header-text-main-color);
}

.price-list {
padding: 30px 40px;

font-size: 18px;
line-height: 1.67;
letter-spacing: 0.02em;
color: var(--content-text-color);
}

.price-list .item:not(:last-child) {
    margin-bottom: 20px;
}

.price-list-uah {
    display: flex;
}


/* Advantages  */

.advantages-item {
font-weight: 700;
font-size: 42px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.05em;
color: var(--header-text-secondaty-color);
}

.advantages-item sup {
font-weight: 600;
font-size: 16px;
line-height: 1.38;
text-align: center;
color: var(--color-accent);
}

.advantages-item-content {
font-weight: 600;
font-size: 11px;
line-height: 1.33;
color: var(--header-text-secondaty-color);
}

.advantages-pretitle {
font-weight: 600;
font-size: 11px;
line-height: 1.33;
letter-spacing: 0.1em;
text-transform: uppercase;
color: var(--header-text-secondaty-color);
}

.advantages-title {
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 42px;
line-height: 1.17;
letter-spacing: 0.05em;
color: var(--header-text-secondaty-color);
}

.advantages-content {
font-size: 18px;
line-height: 1.67;
letter-spacing: 0.02em;
color: var(--content-test-color-secondary);
}

/* Our barbers  */

.barbers-pretitle {
font-weight: 600;
font-size: 11px;
line-height: 1.36;
letter-spacing: 0.1em;
text-transform: uppercase;
color: var(--header-text-secondaty-color);
}

.barbers-title {
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 42px;
line-height: 1.17;
letter-spacing: 0.05em;
color: var(--header-text-secondaty-color);
}

.barbers-name {
font-size: 18px;
line-height: 1.39;
text-align: center;
letter-spacing: 0.02em;
color: var(--header-text-secondaty-color);
}

.barbers-position {
font-size: 14px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.02em;
color: var(--color-accent);
}

/* Gallery  */

.gallery-title {
font-weight: 600;
font-size: 11px;
line-height: 1.36;
letter-spacing: 0.1em;
text-transform: uppercase;
color: var(--header-text-secondaty-color);
}

/* Contacts  */

.contacts {
    background-color: #000000;
}

.contacts-title {
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 42px;
line-height: 1.17;
letter-spacing: 0.05em;
color: var(--header-text-main-color);
}

.address-list {
    font-style: normal;
}

.map {
font-weight: 700;
font-size: 18px;
line-height: 1.67;
letter-spacing: 0.02em;
color: var(--content-text-color);
}

.tel,
.mail {
font-size: 18px;
line-height: 1.67;
letter-spacing: 0.02em;
color: var(--content-text-color);
}

.mail {
text-decoration-line: underline;
}

.map:hover,
.map:focus,
.mail:hover,
.mail:focus,
.tel:hover,
.tel:focus {
    color: var(--color-accent);
}

.working-hours {
font-weight: 600;
font-size: 11px;
line-height: 1.36;
letter-spacing: 0.1em;
text-transform: uppercase;
color: var(--header-text-main-color);
}

.time {
font-size: 18px;
line-height: 1.67;
letter-spacing: 0.02em;
color: var(--content-text-color);
}
